*{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container
{
    background-color: #F8F0E5;
    color: #102C57;
    height: 100vh;
}

label
{
    font-size: 20px;
}

.d-flex
{
    display:flex;
}

.d-col
{
    flex-direction:column;
}

.heading 
{
    /* align-items: center;
    justify-content: center; */
    /* margin: auto; */
    text-align: center;
}
.heading *
{
    margin: 6px;
}
.heading #gamename
{
    font-family: 'Barriecito' , cursive !important;
    font-size:80px;
    text-decoration: underline;
    
}

.bg-red
{
    background-color: red;
}
.bg-green
{
    background-color: green;
}

.start_new_game
{
    display:none;
}

#right_or_wrong
{
    /* height:100px; */
    /* width:100px; */
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

.restart
{
    display: none;
}

.innercontainer *
{   
    margin: 10px;
    font-weight: bold;
}

.seconddiv
{
    align-items: center;
    justify-content: center;
}

.seconddiv *
{
margin: 10px;
font-weight: bolder;
}

.innercontainer 
{   
    align-items: center;
    justify-content: center;
}

.restart *{
font-weight: bolder;
margin: 10px;
}
button{
    /* height: 20px; */
    width: 80px;
}